body{
    margin:0px;
    font-family: 'Merriweather', serif;
    background-color:#AC3B61;
    text-align:center
}

hr{
    border: dotted;
    border-bottom:none;
    margin-bottom: 10px;
    margin-top: 10px;
    width:4%
}

h1{
    color: grey;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
    font-size:70px
}

h2{
    color:#AC3B61;
    font-family: 'Montserrat', sans-serif;
}

h3{
    color:navy;
    font-family: 'Montserrat', sans-serif;
}

.pro{
    text-decoration: underline;
}

.top-of-page{
    background-color:#EEE2DC;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 700px; 
}

.bottom-cloud{
    position:absolute;
    top:500px;
    left: 200px;
}

.top-cloud{
    position: absolute;
    right:350px;
}

.coding{
    margin-right: 20px;
    float:left;
}

.flexing{
    float: right;
    margin-left: 20px;
}

.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.foot{
    background-color:#123C69;
}

.btn {
    background: #eee2dc;
    background-image: -webkit-linear-gradient(top, #eee2dc, #123c69);
    background-image: -moz-linear-gradient(top, #eee2dc, #123c69);
    background-image: -ms-linear-gradient(top, #eee2dc, #123c69);
    background-image: -o-linear-gradient(top, #eee2dc, #123c69);
    background-image: linear-gradient(to bottom, #eee2dc, #123c69);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #123c69;
    background-image: -webkit-linear-gradient(top, #123c69, #eee2dc);
    background-image: -moz-linear-gradient(top, #123c69, #eee2dc);
    background-image: -ms-linear-gradient(top, #123c69, #eee2dc);
    background-image: -o-linear-gradient(top, #123c69, #eee2dc);
    background-image: linear-gradient(to bottom, #123c69, #eee2dc);
    text-decoration: none;
  }
