{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <br>
            <img class="mb-4" src="https://www.flaticon.com/svg/vstatic/svg/4652/4652635.svg?token=exp=1620713837~hmac=41e15c306d2ee3f207cd91b7a06b3065" alt="" width="200" height="200">
            <h1 class="h3 mb-3 font-weight-normal" style="color:black">
                Please Login
            </h1>
            <div class="col-md-4 col-lg-offset-4" style="margin: auto;color: black;">
                <center>
                    <br>
                        {{ form.username.label() }}
                        {{ form.username(class="form-control", placeholder="User Name") }}

                        {{ form.password.label() }}
                        {{ form.password(class="form-control", placeholder="Password") }}

                    <br>
                </center>
                
            </div>
            


            <div class="checkbox mb-3" style="color:black">
               <h6>Do not have an account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary",style="width: 400px ;margin: auto;") }}

        </form>
    </div>
</body>
{% endblock %}